[Unit]
Description=Solve the maze with OpenCV and show the result on the website
After=multi.user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/opencv-mazesolver/src
ExecStart=/home/pi/opencv-mazesolver/src/main.py

[Install]
WantedBy=multi-user.target
