#stage-parent {
    width: 100%;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .blurry_image {
        width: 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .blurry_image {
        width: 80%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .blurry_image {
        width: 60%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .blurry_image {
        width: 40%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .blurry_image {
        width: 30%;
    }
}
